<html>
<title>Mexican Food & Drinks</title>
<body>


    <h1>Mexican Food & Drinks</h1>
    <h4>Welcome to our page about Mexican food and drink! Most people think of American style of Mexican food. My husband has learned the way his grandma made Mexican food in their home land and here are a few of his favorites! I hope you enjoy as much as I do.</h4>


    <h2>Drink</h2>
    <img src="https://www.cookingclassy.com/wp-content/uploads/2019/04/horchata-6.jpg" style="width:100%">
    <p>My husband likes to start with his favorite drink which is Horchata. Horchata is a traditional Mexican drink made up of white rice soaked in water, it’s flavored with cinnamon and its sweetened with granulated sugar. Everything is minced up together in a blender and later strained to remove solids. Some versions are dairy free while others contain milk and some versions contain nuts or added flavor like vanilla or coconut.</p>

    <h2>Homemade Tortilla</h2>
    <img src="https://www.kingarthurflour.com/sites/default/files/styles/featured_image_2x/public/recipe_legacy/4723-3-large.jpg?itok=YcrHSGaW" style="width:100%">
    <p>Homemade Tortilla need to be made on a flat skillet and they are cooked with much love.</p>

    <h2>Lengua</h2>
    <img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fimages.media-allrecipes.com%2Fuserphotos%2F2612455.jpg&w=596&h=596&c=sc&poi=face&q=85" style="width:100%">
    <p>His favorite meat inside the tortilla is Lengua which translates to cow tongue. It is usually slow cooked over many hours. Once I got over what it was and I tried it, it was very tasty.</p>

    <h2>Dessert - Mexican Coconut Jello</h2>
    <img src="https://i0.wp.com/www.adrianasbestrecipes.com/wp-content/uploads/2019/04/Strawberry-Mosaic-Mexican-Jello-Dessert.png?w=1000&ssl=1" style="width:100%">
    <p>He loves coconut Jello. His version is not quite as fancy as this picture, but it is still as delicious!</p>

</body>
</html>
